@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:ital,wght@0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: linear-gradient(135deg,#bb5b70 10%,#6071e0 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}