@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Raleway:wght@100;200&display=swap');


body{
    background-color: rgb(246, 246, 247);
}
.comment{
    padding-left: 10px;
    font-size: small;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    
}