.h1oftheprojectreport {
    color: black;

    text-align: center;
    font-weight: 200;
    padding-top: 20px;
}

.h3oftheprojectreport {
    color: black;

    text-align: center;
    font-size: 40px;
    /* margin-top: 150px; */
    margin-left: 500px;
    width: 400px;
    height: 150px;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 150px;
}

.containeroftheprojectreport {
    height: 100vh;
    /* background: linear-gradient(rgba(5, 60, 87, 0.849), rgb(3, 96, 133)),
        url(../../Images/webdeveopment.jpg); */


    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

    /* align-items: center; */
}

.smallcontaineroftheprojectreport {
    width: 750px;
    height: 650px;
    /* background: linear-gradient(rgba(3, 44, 64, 0.849), rgb(5, 83, 114)); */
    background-color: #c4fff0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    align-items: center;
    margin-bottom: 30px;
    margin-left: 320px;


}

.paragraphoftheprojectreport {
    color: black;

    text-align: center;
    margin-top: 100px;
    margin-left: 160px;
    width: 400px;
    height: 100px;
    font-weight: 200;
    line-height: 30px;
}

.downloadbuttonoftheprojectreport {

    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(83, 81, 81);
    border-radius: 10px;
    background-color: #020253;
    color: white;
    margin-left: 170px;
    transition: background-color 0.3s ease;
}

.downloadbuttonoftheprojectreport:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

.refmaterialsbuttonoftheprojectreport {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #020253;
    color: white;
    text-align: center;
    cursor: pointer;
}

.refmaterialsbuttonoftheprojectreport:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.Dummyimageofthereferencehome {
    height: 200px;
    width: 200px;
    margin-top: 70px;
    margin-left: 250px;
    /* padding-left: 200px; */
    /* Add a border with a solid color and a width of 2 pixels */
    /* border: 2px solid #333; */
    /* Add a subtle box shadow for a raised effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Apply a transition for a smooth hover effect */
    transition: transform 0.3s ease-in-out;
}