/* Default styles for all screens */
body {
    font-size: 16px;
    background-color: rgb(3, 96, 133);
    color: white;
}

.ImageoftheIntershippage {

    justify-content: end;
    margin-left: 550px;

}

.paraoftheIntershippage {
    margin-left: 550px;
    width: 500px;
    line-height: 30px;
    font-size: larger;
    color: white;


    /* padding-left: 30px; */
    text-align: start;


}

.containeroftheInternshippage {

    background-color: rgb(3, 96, 133);
    color: white;

}

.buttonoftheIntershippage {
    text-align: center;
    margin-left: 100px;
    height: 35px;
    width: fit-content;
    font-size: medium;
    background-color: white;
    color: black;
    margin-bottom: 5px;

    cursor: pointer;

}


.BackbuttonoftheIntershippage:hover {
    border: 1px solid black;

}

.buttonoftheIntershippage:hover {
    border: 1px solid black;

}

/* .h1oftheInternshippage {
    text-align: center;
    color: black;
} */

.BackbuttonoftheIntershippage {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-top: 8px;
    cursor: pointer;
    margin-left: 420px;
    font-size: medium;
    transition: background-color 0.3s ease;
}

.h1promax {
    padding-left: 185px;
    padding-top: 20px;
    margin-left: 372px;
    margin-bottom: 25px;

}