/* Default styles for all screens */
body {
    font-size: 16px;
    background-color: rgb(3, 96, 133);
    color: white;
}

.ImageoftheIntershippage {

    justify-content: end;
    margin-left: 550px;

}

.paraoftheIntershippage {
    margin-left: 550px;
    width: 500px;
    line-height: 30px;
    font-size: larger;
    color: white;


    /* padding-left: 30px; */
    text-align: start;


}

.containeroftheInternshippage {

    background-color: rgb(3, 96, 133);
    color: white;

}

.buttonoftheIntershippage {
    text-align: end;
    margin-left: 100px;
    height: 35px;
    width: fit-content;
    font-size: medium;
    background-color: white;
    color: black;
}

/* .h1oftheInternshippage {
    text-align: center;
    color: black;
} */

.BackbuttonoftheIntershippage {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;

    margin-left: 400px;
    font-size: medium;
}

.h1promax {
    padding-left: 185px;
    padding-top: 20px;
    margin-left: 372px;
    margin-bottom: 25px;

}